body{
  margin: 0;
  min-height: 100vh;

  background-image: url("bg-blue-orange-gradient.png");
  background-size: cover;          /* дэлгэцийг дүүргэнэ */
  background-position: center;     /* голлуулна */
  background-repeat: no-repeat;
  background-attachment: fixed;    /* scroll хийхэд background хөдөлгөхгүй */
}


.container {
  max-width: 700px;
  background: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #1f3c88;
}

button {
  background: #1f3c88;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #16306d;
}

.result-pass {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.result-fail {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

